/* logo, nav-menu, button, icon, contact (reaction) #2196F3  #AFB1B8 */
/* logo #000000 */     
/* contact #757575 */ 
/* nav-menu, filter-button #212121 #ffffff */   
/* title, link #ffffff #212121 */   
/* text #757575 */ 
/* background #ffffff */ 
/* section-bg #F5F4FA */

                                               /* common */
/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */

:root {
--title-color: #212121;
--primary-white-color: #ffffff;
--accent-color: #2196F3;
--font-logo: 'Raleway', sans-serif;
--font-text: 'Roboto', sans
}
                            
body {
    color: #757575;
    background-color: #ffffff;
    font-family: var(--font-text);
    font-style: normal;
}
                    /* hiden mark; reset ul */
.list {
    padding: 0;
    margin: 0;
    list-style: none;    
}
                   /* reset (h, p) */
.reset {
    margin-top: 0;
}
                     /* temporary hide */
.invisible {
    display: none;
}

                                             /* header */
                            
                                /* logo */

.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    outline: 2px solid tomato; 
}

.logo {
    color: #000000;
    font-family: var(--font-logo);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;
    text-decoration: none;
}
                            
.logo-design {
    color: var(--accent-color);
}
                            /* navigation */
.menu-nav .link-nav {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
                            
.link-nav:hover,
.link-nav:focus {
    color: var(--accent-color);
}
                            
.contact-nav .link-contact {
     color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
                            
.link-contact:hover,
.link-contact:focus {
    color: var(--accent-color);
 }                            


                                            /* footer */

 footer {
    padding-top: 45px;
    padding-bottom: 21px;
    
    background-color: #2F303A;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 8px;
}

.address-text {
    margin-bottom: 9px;

    color: var(--primary-white-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.mail-footer {
    display: inline-block;
    margin-bottom: 9px;
}

.phon-footer {
    display: inline-block;
    margin-bottom: 28px;

}

.contact-footer .link-footer {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.contact {
    display: inline-block;
    margin-bottom: 20px;

    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.button-footer {
    display: inline-block;
    /* min-width: 200px; */
    padding: 10px 62px 10px 29px;
    border-radius: 4px;    

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    text-align: center;
    text-decoration: none;
}

.copy {
    margin-bottom: 0;

    color: rgba(255, 255, 255, 0.4);
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
}

